.auth > form > button {
    display: block;
    background-color: #5372f1;
    padding: 7px 20px;
    border-radius: 30px;
    transition: 0.3s ease-in;
    width: 50%;
    margin: 25px auto;
    border: none;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  #uidnote, #emailnote, #pwdnote, #confirmnote{
    color:red;
    background-color:rgba(0, 0, 0, 0.5);
    letter-spacing:2px;
    width:80%;
    margin:auto;
    padding:2%;
    border-radius:10px;
  }
  .auth{
      padding:5%;
      min-height:65vh
    
  }
  .success h1{
    padding:10%
  }
  .auth > form > h2 {
    font-size: 2rem;
    margin-bottom: 10%;
  }
  .auth > form {
    width: 40%;
  }
  .hide {
    display: none;
  }
  
  .auth > form > button:hover {
    background-color: #8198f6;
    transform: translate(0, -5px);
  }
  
  .auth > form > button:active {
    background-color: #c7cde7;
    color: #0a1b66;
  }
  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .valid{
    color:#00FF00
  }
  .invalid{
    color:red
  }
  
  .auth > form > div > div > label {
    color: #b6d7f5;
  }
  .auth > form > div > div > label,
  .auth > form > button,
  .auth > form > div > input {
    font-size: 1.2rem;
  }
  .auth > form > div > p > span{
    font-weight:600;
    color: #5372f1;
    cursor: pointer
  }
  .success span {
    color: #00FF00;
    cursor: pointer
  }
  .auth > form > div >p , .success p{
    color:white;
  }
  @media all and (min-width: 320px) and (max-width: 500px) {
    .auth > form {
      width: 80%;
      padding:10%;
      margin-top:40%
    }
    .auth > form > h2 {
      font-size: 1rem;
      margin-bottom: 10%;
    }
    .auth > form > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .auth > form > div > div > label,
    .auth > form > button,
    .auth > form > div > input,
    .auth > form > div > p {
      font-size: 0.8rem;
    }
    #uidnote, #emailnote, #pwdnote, #confirmnote{
      font-size:0.8rem;
      width:90%;
      padding:4%
    }
    .success h1{
      padding-top:60%
    }
    .auth > form > div > div {
      width: 150px;
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }
    .errmsg{
      font-size:0.7rem;
    }
    .auth{
      min-height:86vh
    }
  }
  